$color-wt: rgb(255, 255, 255);
$color-base: rgba(168, 102, 2, 0.432);
$color-clear: rgba(0, 27, 26, 0.192);
$color-sub: #6A5656;
$color-ax: #2A6B6D;

body {
    color: $color-ax;
}

#loading {
    width: 100vw;
    height: 100vh;
    background-color: $color-wt;
    position: relative;
    .sk-cube-grid {
        width: 40px;
        height: 40px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: $color-ax;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
    }
    .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
    .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
    .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

    @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
        } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); 
    }
    }

    @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
        } 35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    } 
    }
}
#introduction,#skills,#services,#works {
    background-color: $color-wt;
}

#contact {
    background-color: $color-clear;
}

.container {
    border-top: 1px solid $color-ax;
}

.header-inner,footer {
    background-color: $color-base;
    color: $color-wt;
    transition: background-color 1s;
    a,#nav-drawer {
        color: $color-wt;
        transition: background-color 0.3s;
        &:hover {
            background-color: $color-ax;
        }
    }
}
.top-btn {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
        opacity: 1;
    }
}

.change-back-color {
    background-color: $color-clear;
}

.change-btn-color {
    background-color: $color-clear;
}

.t-caret {
    color: $color-clear;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
    background: $color-wt;
}

#nav-close {
    background: $color-base;
}

#nav-content {
    background: $color-clear;
}

#nav-input:checked ~ #nav-content {
    box-shadow: 1px 0 60px $color-wt;
}

#top {
    color: $color-wt;
    .title {
        position: relative;
    }
    .title::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 50px 100px $color-clear;
        background-color: $color-clear;
        filter: blur(30px);
    }
}

#introduction {
    .name {
        border-bottom: 1px solid $color-ax;
    }
}

#skills {
    background-color: $color-clear;
    color: $color-wt;
    .contents {
        position: relative;
        transition: all,transform 0.5s;
    }
    .contents::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: '';
        background: $color-clear;
        transform-origin: center center;
        transform: scale(1, 0);
        transition: transform .3s;
    }
    .contents:hover::before {
        transform: scale(1, 1);
        border: 1.5px solid $color-ax;
    }
}

#services {
    .img-box {
        position: relative;
        &:hover .txt {
            display: block;
        }
        .txt {
            color: $color-wt;
            z-index: 2;
        }
    }
    .img-box::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 30rem;
        content: '';
        background: $color-clear;
        transform-origin: center center;
        transform: scale(0, 0);
        transition: all 0.5s ease;
    }
    .img-box:hover::before {
        transform: scale(1.5, 1.5);
        border: 2px solid $color-wt;
    }
    .img-box::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 30rem;
        content: '';
        background: $color-ax;
        transform-origin: center center;
        transform: scale(0, 0);
        transition: all 0.3s ease;
    }
    .img-box:hover::after {
        transform: scale(1, 1);
    }
}

#works {
    .container {
        .contents-btn {
            border-left: 1px solid $color-ax;
            div {
                transition: all 0.2s ease;
                &:hover {
                    color: $color-wt;
                    background-color: $color-ax;
                    border-radius: 20rem;

                }    
            }
        }
    }
    p {
        background-color: $color-ax;
        color: $color-wt;
    }
    .img-box {
        position: relative;
        border: 1px solid $color-ax;
    }
    .img-box::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background: $color-clear;
        transform-origin: bottom;
        transform: scale(1, 0);
        transition: all 0.2s ease;
    }
    .img-box:hover::before {
        transform: scale(1, 1);
    }
    .img-box::after {
        position: absolute;
        top: 10%;
        left: 10%;
        z-index: inherit;
        content: "";
        transition: all 0.2s ease;
    }
    .img-box:hover::after {
        color: $color-ax;
        content: "CLICK";
    }
}

#contact {
    color: $color-wt;
    input,textarea {
        background-color: $color-clear;
    }
    
    input:focus, textarea:focus {
        background: $color-wt;
    }
    
    ::placeholder {
        color: $color-wt;
    }
    
    #submit-btn {
        background-color: $color-ax;
        color: $color-wt;
    }
}