body {
  color: #2A6B6D;
}

#introduction, #skills, #services, #works {
  background-color: white;
}

#contact {
  background-color: rgba(0, 27, 26, 0.192);
}

.container {
  border-top: 1px solid #2A6B6D;
}

.header-inner, footer {
  background-color: rgba(168, 102, 2, 0.432);
  color: white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.header-inner a, .header-inner #nav-drawer, footer a, footer #nav-drawer {
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header-inner a:hover, .header-inner #nav-drawer:hover, footer a:hover, footer #nav-drawer:hover {
  background-color: #2A6B6D;
}

.top-btn {
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-btn:hover {
  opacity: 1;
}

.change-back-color {
  background-color: rgba(0, 27, 26, 0.192);
}

.change-btn-color {
  background-color: rgba(0, 27, 26, 0.192);
}

.t-caret {
  color: rgba(0, 27, 26, 0.192);
}

#nav-open span, #nav-open span:before, #nav-open span:after {
  background: white;
}

#nav-close {
  background: rgba(168, 102, 2, 0.432);
}

#nav-content {
  background: rgba(0, 27, 26, 0.192);
}

#nav-input:checked ~ #nav-content {
  -webkit-box-shadow: 1px 0 60px white;
          box-shadow: 1px 0 60px white;
}

#top {
  color: white;
}

#top .title {
  background-color: rgba(0, 27, 26, 0.192);
}

#introduction .name {
  border-bottom: 1px solid #2A6B6D;
}

#skills {
  background-color: rgba(0, 27, 26, 0.192);
  color: white;
}

#skills .contents {
  position: relative;
  -webkit-transition: all,-webkit-transform 0.5s;
  transition: all,-webkit-transform 0.5s;
  transition: all,transform 0.5s;
  transition: all,transform 0.5s,-webkit-transform 0.5s;
}

#skills .contents:hover {
  border: 1.5px solid #2A6B6D;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#skills .contents::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: rgba(0, 27, 26, 0.192);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#skills .contents:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#services .img-box {
  position: relative;
}

#services .img-box:hover .txt {
  display: block;
}

#services .img-box .txt {
  color: white;
  z-index: 2;
}

#services .img-box::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 30rem;
  content: '';
  background: rgba(0, 27, 26, 0.192);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#services .img-box:hover::before {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  border: 2px solid white;
}

#services .img-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 30rem;
  content: '';
  background: #2A6B6D;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#services .img-box:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#works p {
  background-color: #2A6B6D;
  color: white;
}

#contact {
  color: white;
}

#contact input, #contact textarea {
  background-color: rgba(0, 27, 26, 0.192);
}

#contact input:focus, #contact textarea:focus {
  background: white;
}

#contact ::-webkit-input-placeholder {
  color: white;
}

#contact :-ms-input-placeholder {
  color: white;
}

#contact ::-ms-input-placeholder {
  color: white;
}

#contact ::placeholder {
  color: white;
}

#contact #submit-btn {
  background-color: #2A6B6D;
  color: white;
}
/*# sourceMappingURL=color.css.map */