@import url("./normalize.css");
@import url("../slick/slick.css");
@import url("../slick/slick-theme.css");
@import url("./reset.css");
@import url("./font.css");
@import url("./color.css");

$pc: 1000px; // PC
$tab: 700px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

#page {
    overflow: hidden;
    width: 100%;
}

.header-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.inner {
    width: 90vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    @include pc {
        width: 700px;
        max-width: 100%;
    }
    @include tab {
        width: 480px;
        max-width: 100%;
    }
    .section-title {
        text-align: center;
        padding-top: 5rem;
        h2 {
            font-size: 4rem;
            @include  sp {
                font-size: 3rem;
            }
        }
    }    
}

.container {
    display: flex;
    padding: 12rem 3rem;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.contents {
    padding: 0 2rem;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.img-box {
    img {
        object-fit: cover;
    }
}

.fadein,.section-title {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s;
}

header {
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
    a {
        padding: 2rem;
        margin-right: 2rem;
        display: inline-block;
        @include sp {
            line-height: 4rem;
        }
    }
    .menu {
        display: flex;
        @include pc {
            display: none;
        }
    }
    .top-btn {
        position: fixed;
        bottom: 5rem;
        right: 4rem;
        padding: 0;
        margin: 0;
        img {
            width: 5rem;
            height: auto;
        }
        @include sp {
            bottom: 3rem;
            right: 3rem;
        }
    }

    #nav-drawer {
        position: relative;
        padding: 2rem;
        display: inline-block;
        cursor: pointer;
        @include sp {
            line-height: 4rem;
        }
    }
      
    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display:none;
    }
    
    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }
    
    /*ハンバーガーの形をCSSで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }
    
    /*閉じる用の薄黒箇所*/
    #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        transition: .3s ease-in-out;
    }
    
    /*メニューの中身*/
    #nav-content {
        text-align: end;;
        overflow: auto;
        position: fixed;
        top: -10%;
        right: 0;
        z-index: 9999;
        width: 60rem;
        max-width: 100%;
        height: auto;
        border-bottom-left-radius: 100%;
        transition: .3s ease;
        -webkit-transform: translateX(105%);
        transform: translate(105%, -100%);
        ul {
            padding: 5rem 0 7rem 15rem;
        }
    }
    
    /*チェックがついたら表示させる*/
    #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
    }
    
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(30%);
        transform: translate(0%, 5%);
    }
    
    .header-menu{
        display: none;
        @include pc {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;    
        }
    }
}

#top {
    text-align: start;
    height: 100vh;
    padding-top: 10rem;
    .title {
        width: 50%;
        max-width: 100%;
        margin: 4vh auto 0 4vw;
        padding: 5rem 3rem;
        border-radius: 0.5rem;
        @include sp {
            width: 100%;
            padding: 5rem 0;
            line-height: 8rem;
            margin-left: 0;
        }
        h1 {
            font-size: 8rem;
            padding-left: 3rem;
            @include pc {
                font-size: 6rem;
            }
            @include tab {
                font-size: 4rem;
            }
        }
    }
    .down-arrows {
        font-size: 5rem;
        -webkit-animation: fuwa 2s infinite ease;
        animation: fuwa 2s infinite ease;
    }
}
#top:before{
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background:url("../portfolio-img/edrece-stansberry-qGi-RZm6kCk-unsplash\ \(1\).jpg") center no-repeat;
    background-size:cover;
}

#introduction {
    .container {
        padding: 12rem 10rem;
        margin: 0 auto;
        justify-content: center;
        @include pc {
            flex-direction: column;
            padding: 12rem 3rem;
            text-align: center;
        }
    }
    .img-box {
        width: 100%;
        img {
            border-radius: 50%;
            width: 40rem;
            height: 40rem;
            @include tab {
                width: 30rem;
                height: 30rem;
            }
        }    
    }
    .intro-profile {
        margin: 8rem 0 0 8rem;
        .name {
            margin-top: 3rem;
            margin-bottom: 5rem;
            @include pc {
                margin: 2rem auto;
            }
            span {
                font-size: 2.5rem;
            }
        }    
        @include pc {
            margin: 4rem auto;

        }    
    }
}

#skills {
    width: 50vw;
    max-width: 100%;
    margin: 0 auto 0 0;
    @include tab {
        width: 100%;
        margin: 0 auto;
    }
    .container {
        flex-wrap: wrap;
        justify-content: center;
        @include sp {
            flex-direction: column;
        }
        .contents {
            width: 15rem;
            max-width: 100%;
            padding: 1rem;
            margin-right: 1rem;
            @include sp {
                width: 70%;
                margin: 0 auto 3rem;
            }
            .rogo-box {
                padding: 1rem 0;
                margin: 0 auto;
                width: 10rem;
                height: 10rem;
                i {
                    font-size: 6rem;
                    line-height: 8rem;
                }
            }    
        }    
    }
}

#services {
    .contents {
        display: flex;
        width: 25%;
        max-width: 100%;
        height: auto;
        margin-bottom: 2rem;
        padding: 0;
        position: relative;
        @include pc {
            width: 50%;
        }
        @include sp {
            width: 100%;
        }
        .img-box {
            text-align: center;
            img {
                max-width: 100%;
                width: 100%;
                height: 40rem;
                border-radius: 30rem;
                @include sp {
                    border-radius: 50%;
                }
            }
        }
        .txt {
            display: none;
            position: absolute;
            top: 4%;
            left: 0;
            padding: 2rem;
            p {
                padding: 2rem;
            }
            @include sp {
                line-height: 3rem;
            }
        }
    }
}

#works {
    .slider {
        padding: 6rem 3rem;
        .img-box {
            img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }    
    }
}
.background {
    height: 0;
}
.background:before{
    content:"";
    display:none;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background:url("../portfolio-img/daniela-cuevas-zdIU7W5G5Ts-unsplash\ \(1\).jpg") center no-repeat;
    background-size:cover;
}

.backgroundSec {
    height: 40vh;
}
.backgroundSec:before{
    content:"";
    display:none;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background:url("../portfolio-img/antonio-lainez-97_u1LDOLx0-unsplash\ \(1\).jpg") center no-repeat;
    background-size:cover;
}

.bg-show:before {
    display: block;
    -webkit-animation: bg-anime 1s linear;
    animation: bg-anime 1s linear;
}
@-webkit-keyframes bg-anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bg-anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#contact {
    .container {
        padding: 12rem 20rem;
        @include pc {
            padding: 12rem 10rem;
        }
        @include tab {
            padding: 8rem 5rem;
        }
        label {
            margin-top: 1rem;
        }
        #submit-btn {
            margin-top: 3rem;
        }
    }
}

footer {
    padding: 2rem;
    a {
        padding: 1rem;
        border-radius: 50%;
        display: inline-block;
    }
    p {
        padding-top: 2rem;
    }  
    #google-btn {
        display: none;
    }
}


@keyframes fuwa {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes fuwa {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}